* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  .main-header-verde {
    width: 100%;
    height: 64px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #283618;
    position: relative;
    box-sizing: border-box; /* Garante que o padding não ultrapasse o width */
  }
  
  .logo-menor {
    width: 160px;
    height: 56px;
    object-fit: contain;
  }

  .app {
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 220px;
    background-color: #283618;
    color: white;
    padding: 20px;
  }
  
  .sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
  }
  
  .sidebar li:hover {
    background-color: #34495e;
  }
  
  .main-content {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .anunciar-produto {
    margin-top: 20px;
    padding: 12px;
    background-color: #e67e22;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    transition: background 0.3s, transform 0.2s;
  }
  
  .anunciar-produto:hover {
    background-color: #d35400;
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .logout {
    margin-top: 20px;
    padding: 12px;
    background-color: #fcfbfb;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    transition: background 0.3s, transform 0.2s;
  }
  
  .logout:hover {
    background-color: #d35400;
    transform: scale(1.05);
    cursor: pointer;
  }